{% extends 'base.htm' %}


{% block head %} 
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h1> All Posts </h1>
    
    <hr>
    <h2>Create New Blog Post:</h2>

    <form action="/posts/edit/{{post.id}}", method="POST">
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" aria-label="Enter Title" value="{{post.title}}">
        <br>
        <label for="author">Author:</label> 
        <input class="form-control" type="text" name="author" id="author" aria-label="Author Name" value="{{post.author}}">
        <br>
        <label for="content">Content:</label> 
        <textarea class="form-control" name="content" id="content" aria-label="Enter Content"  rows="3">{{post.content}}</textarea>
        <br>
        <br>
        <input type="submit", value="Save" class="btn btn-success">
    </form>
    <hr>

{% endblock %}